Repository mozilla-services/contile-integration-tests, pull requests merged in 2021-08, with the labels that each got.

#45 Add GitHub code owners file for the project 📋
  .github/CODEOWNERS
Labels: project

#51 Include the response content in integration-test failures 🤖
  client/tests/test_contile.py
Labels: capability, client

#46 Document contributing guidelines 📝
  .github/CONTRIBUTING.md
Labels: docs, project

#48 Add validation and unit test for country code parameter
  partner/app/main.py
  partner/app/tests/test_app.py
Labels: capability, partner

#58 feat: Update the UA strings to something more modern
  volumes/client/scenarios.yml
Labels: docs, client

#53 Validate extra query param
  partner/app/main.py
  partner/app/tests/test_app.py
Labels: partner, capability

#59 Validate region code parameter
  partner/app/main.py
  partner/app/tests/test_app.py
Labels: partner, capability

#63 Add optional dma-code query parameter to API 🤖
  partner/app/main.py
  partner/app/tests/test_app.py
Labels: partner, capability

#64 Add support for multiple responses files 🌍
  docker-compose.yml
  partner/app/main.py
  partner/app/responses.py
  partner/app/tests/responses/DE/responses.yml
  partner/app/tests/responses/US/NY.yml
  partner/app/tests/responses/US/responses.yml
  partner/app/tests/responses/responses.yml
  partner/app/tests/test_app.py
  partner/app/tests/test_responses.py
  partner/tox.ini
Labels: partner, capability
